.buscar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 15px;
    border: 3px solid white;
    width: 200px;
    padding: 1em;
}

.boton{
    background-color: black;
    color: azure;
    height: 2rem;
    border-radius: 10%;
    padding: 3px;
    font-weight: bold;
    margin-top: 5px;
    box-shadow: 0px 0px 15px white;
    border: 2px solid greenyellow;
    margin-left: 60%;
}

.boton:hover{
    background-color: blue;
    border: 2px solid red;
    box-shadow: 0px 0px 15px red;
    transform: scale(1.1);
}

.recuadro{
    margin: 0px 10px;
    height: 30px;
    border-bottom: 4px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color:cadetblue;
    color: black;
}